
GameProduction 2/.vs/GameProduction 2/v16/.suo

GameProduction 2/.vs/GameProduction 2/v16/Browse.VC.db

GameProduction 2/.vs/GameProduction 2/v16/ipch/AutoPCH/ba2f36be44beff05/DEBUGMANAGER.ipch

*.ipch

*.opendb

*.db
